<div *ngIf="staff.length === 0">
  <p>Cargando datos del staff...</p>
</div>

<div style="display: flex; flex-direction: column; align-items: center">
  <p-table
    [columns]="cols"
    [value]="staff"
    [tableStyle]="{ 'min-width': 'fit-content', 'width': '80rem' }"
    styleClass="p-datatable-striped"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <ng-container *ngIf="col.field === 'image'">
            <img
              [src]="rowData[col.field]"
              alt="Sin foto"
              style="width: 100px; height: 100px; border-radius: 50%"
            />
          </ng-container>

          <ng-container *ngIf="col.field !== 'image' && col.field !== 'alive'">
            {{ rowData[col.field] }}
          </ng-container>

          <ng-container *ngIf="col.field === 'alive'">
            <p-tag [severity]="rowData[col.field] ? 'success' : 'warning'">{{
              rowData[col.field] === true ? "VIVO" : "MUERTO"
            }}</p-tag>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
